.banner {
  background-size: cover;
  background-position: center;
  padding: 20px 0 100px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#logo {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
}


