.btn-action {
    background: #FFAB03;
    color: #fff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      background: #FCDE5B;
      color: #fff;
    }
}
