.card-action {
  margin: auto;
  width: 500px;
  background: white;
  padding: 20px;
  padding-top:1px;
  padding-bottom: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  top: -80px;
  margin-bottom: -40px;
}

/* --- Responsive design --- */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .main-container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-action {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-action {
    width: 250px;
  }
}
