<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/pictures/zerowasteevent.jpg);">
  <div class="main-container text-center">
    <%= image_tag "justnowaste-logo-circle.png", id: "logo" %>
    <h1>Make your event <strong>ZERO WASTE</strong> !</h1>
    <p><span id="justnowaste">Just No Waste</span> aide les organisateurs d'évènements à réduire simplement et efficacement les déchets de leurs manifestations.</p>
  </div>
</div>
