<div class="footer">
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
  <div class="footer-copyright">
    Justine Tincq -
    Just No Waste,
    1004 Lausanne -
    078 827 62 88
  </div>
  <div class="footer-copyright">
    Just No Waste intervient avec  <i class="fas fa-heart"></i>  dans toute la Suisse Romande, et au delà.
  </div>
</div>
