---
title: Juste No Waste
---
<div class="main-container">
  <div class="card-action text-center">
    <h2>Obtenez de premiers conseils dès maintenant</h2>
    <%= mail_to 'info@justenowaste.ch', "Contacter", class: "btn-action"%>
  </div>
  <div>
    <h3>Moins de déchets, <span id="juste">Juste</span> l'essentiel</h3>
    <p>Organiser un évènement zéro déchet, c'est :</p>
    <div class="cards">
      <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.festivaldelaterre.ch/edition2018/wp-content/uploads/2018/07/DSCF8137-1030x687.jpg)">
        Réduire les déchets à la source
      </div>

      <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1545165230-00d5c6012a01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80)">
        Privilégier la réutilisation et le réemploi
      </div>

      <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532996122724-e3c354a0b15b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
        Valoriser les déchets résiduels
      </div>
    </div>
  </div>

</div>

