---
title: Juste No Waste
---
<div class="main-container">
  <div class="card-action text-center">
    <h2>Obtenez de premiers conseils dès maintenant</h2>
    <%= mail_to 'jtincq@gmail.com', "Contacter", class: "btn-action"%>
  </div>
</div>

